body {
    text-align: center;
    background-size: cover
}

#line {
    color: white;
    font-size: 30px;
    z-index: 9;
    margin-top: 100px;
}

#image1 {
    border: 5px solid yellow;
    border-radius: 10px;
    width: 450px;
    height: 450px;
}

#btn {
    font-size: 20px;
    color: gold
}

button:hover {
    background-color: lemonchiffon
}

p {
    font-size: 25px;
    color: azure;
    font-family: fantasy
}

.menu {
    z-index: 10;
    list-style: none;
    cursor: pointer;
    top: 0px;
    position: absolute;


}

.links:hover {
    background-color: aqua;

}

.links {
    color: white;
    float: left;
    padding-left: 110px;
    padding-right: 110px;
    font-weight: bold;
    font-size: 25px;
    background-color: #93E9BE;
}
